body {
    margin: 0 auto;
    max-width: 1000px;
}

.navbar {
    background-color: rgba(255, 255, 255, 0.719);
    height: 80px;
    border: 1 px
    justify-content: space-between;
    text-transform: uppercase;
}

.navbar-dark {}

.nav-item a {
    color: white;
    align-content: center;
}

.text-center {
    margin-top: 1%;
}

.nav-item a:hover {
    background-color: rgba(37, 142, 212, 0.479);
    color: black;
}

.nav-item li:hover {
    /*border-bottom: 5px solid white;*/
}

.container-fluid {
    width: 70%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto
}


.button {
    width: 100%;
    height: 100%;
    text-transform: uppercase;
    font-weight: bold;
    color: #000;
    background-color: rgba(51, 75, 97, 0.233);
    border-bottom: 3px solid white;
    border-radius: 10px;
    box-shadow: 0px 15px 8px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
}

/* mouse over boutons */
.button:hover {
    background-color: #275783b6;
    box-shadow: 0px 15px 8px rgba(247, 165, 11, 0.336);
    box-shadow: inset 0 0 50px rgb(128, 130, 133), inset 10px 0 30px rgba(25, 52, 77, 0.5), inset -10px 0 30px rgba(0, 255, 255, 0.384), inset 10px 0 30px rgba(0, 110, 255, 0.568), inset -10px 0 30px rgba(0, 255, 255, 0.288), 0px 7px 20px rgba(255, 255, 255, 0.527), 0px 10px 10px rgba(0, 102, 255, 0.603), 0px 10px 10px rgba(12, 27, 66, 0.562);
    color: #fff;
    transform: translateY(-7px);
}